@font-face {
    font-family: ApexMk2-BoldExtended;
    src: url(../assets/fonts/ApexMk2-BoldExtended.otf);
}

@font-face {
    font-family: ApexMk2-Regular;
    src: url(../assets/fonts/ApexMk2-Regular.otf);
}

@font-face {
    font-family: ApexMk2-LightCondensed;
    src: url(../assets/fonts/ApexMk2-LightCondensed.otf);
}

@font-face {
    font-family: Grind_Demolished;
    src: url(../assets/fonts/Grind_Demolished.ttf);
}

@font-face {
    font-family: Square721-BT-Roman;
    src: url(../assets/fonts/Square721-BT-Roman.TTF);
}

@font-face {
    font-family: Square721-BT-Bold;
    src: url(../assets/fonts/Square721-BT-Bold.TTF);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #000;
}

body {
    font-family: ApexMk2-Regular !important;
    background-color: #000;
    color: #ffffff;
}

.padding-zero {
    padding: 0;
}

.navbar {
    padding: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: white;
}

/* header top navbar css */
.header-div {
    padding: 0;
    margin: 0;
}

.headerContainer {
    position: sticky;
    top: 0;
    background-color: #000;
    z-index: 2;
}

.followContainer {
    font-family: Square721-BT-Roman;
    font-size: 14px;
    margin: 25px 10px 13px 10px;
    line-height: 17px;
}

.followContainer .navIcons {
    width: 16px;
    margin: 0 4px;
}

.imageContainer {
    position: relative;
}

.nav-logo {
    width: 200px;
    position: absolute;
    top: 0%;
    left: 25%;
    z-index: 4;
}

.navbar>.nav-logo {
    display: none;
}

.nav-line {
    border-bottom: 1px solid #1d1d1d;
}

.navbar-dark .navbar-nav .nav-link {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    font-size: 18px;
    line-height: 14px;
    margin: 15px 0 5px;
    border-bottom: 2px solid transparent;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
    border-bottom: 2px solid #ff4600;
}

.upperNav * {
    padding: 0;
}


.lowerNav * {
    padding: 0;
}

.navbar-left {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar-right {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar-dark .navbar-toggler {
    outline: none;
    box-shadow: none;
    border: unset;
    color: unset;
    padding: 10px 15px;
}

.navbar-dark .navbar-toggler-icon {
    outline: none;
    background-image: url(../assets/images/nav/edited2.svg);
}

@media screen and (max-width: 992px) {
    .upperNav,
    .nav-line {
        display: none;
    }

    .navbar>.nav-logo {
        display: inline-block;
        width: 100px;
        position: unset;
    }

    .navbar-dark .navbar-nav .nav-link {
        border-bottom: unset;
    }

    .navbar-dark .navbar-nav .nav-link:hover {
        border-bottom: unset;
    }

    .upperNav,
    .lowerNav {
        text-align: center;
    }
}

.bannerContainer .bannerVideo {
    width: 100%;
}

/*slider css*/
.carousel-item img {
    height: auto;
}

.carousel-control-prev {
    display: none;
}

.carousel-control-next {
    display: none;
}

.carousel-indicators {
    display: none;
}

/*generic section css*/
.sectionHeading {
    font-family: Grind_Demolished;
    color: #FF4600;
    font-size: 40px;
    line-height: 40px;
    margin: 80px 0 45px;
    transition: color ease 0.2s, font-size ease 0.4s;
}

.sectionHeading:hover {
    color: #fff;
    font-size: 42px;
}

.sectionText {
    font-family: Square721-BT-Roman;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 60px;
}

@media screen and (max-width: 992px) {
    .sectionHeading {
        margin: 30px 0 25px;
        font-size: 30px;
    }

    .sectionHeading:hover {
        color: #fff;
        font-size: 32px;
    }

    .sectionText {
        font-size: 14px;
        margin-bottom: 25px;
    }
}

/*game play section css*/
.gamePlayContainer {
    background-image: linear-gradient(#02060b, #02060b, #000);
}

.gamePlayRow {
    text-align: center;
}

/*free to play section css*/
.freeToPlayContainer {
    background-color: #FF4600;
    color: #ffffff;
    padding: 60px 0;
}

.freeToPlayImg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.freeToPlayImg2 {
    display: none;
}

.freeToPlayHeading {
    color: #fff;
}

.freeToPlayHeading:hover {
    color: #02060b;
}

@media screen and (max-width: 992px) {
    .freeToPlayContainer {
        padding: 30px 0;
        text-align: center;
    }

    .freeToPlayImg {
        display: none;
    }

    .freeToPlayImg2 {
        display: block;
    }
}

/*roadMap section css*/
.roadMapContainer {
    background-color: #1d1d1d;
}

.roadMapHeading {
    text-align: center;
}

.roadMapImgContainer {
    margin: 10px 0 60px;
    text-align: center;
}

.roadMapImg {
    width: 50%;
    transition: transform ease 0.2s;
}

.roadMapImg:hover {
    transform: translate(-2%, -2%);
}

/*road map css*/

.roadMapQ {
    font-size: 21px;
}

.roadMapDate {
    color: #FF4600;
}

.hrContainer{
    position: relative;
}

.roadMap_hr {
    border: 1px solid #fff;
    opacity: 1;
}

.roadMap_hrImage {
    position: absolute;
    top: -0.75em;
}

.roadMap_ul{
    overflow: hidden;
}

.roadMap_ul li {
    font-family: Square721-BT-Roman !important;
}

.roadMap_ul li::marker {
    font-size: 1.6em;
    color: #FF4600;
}

.mblRoadmapBtnContainer{
    display: none;
}

.dsktpRoadmapBtnContainer{
    margin-bottom: 1em;
}

.roadmapBtn{
    color: #fff;
    background-color: transparent;
    padding: 5px 16px;
    border: 2px solid #fff;
    margin: 0 0 0 0.5em;
    font-size: 2em;
    line-height: 1em;
    transition: color ease 0.2s, border ease 0.4s;
}

.roadmapBtn:hover{
    color: #ff4600;
    border: 2px solid #ff4600;

}

@media screen and (max-width: 992px) {
    /* .roadMap_ul{
        margin-right: 20px;
    } */

    .roadMapImg{
        width: 100%;
    }

    .roadMapImgContainer {
        margin: 30px 0;
    }
    
    .mblRoadmapBtnContainer{
        display:unset;
    }

    .dsktpRoadmapBtnContainer{
        display: none;
    }
}



/*nftCollection section css*/
.nftCollectionRow {
    text-align: center;
    margin: 0 0 60px;
  }
  
  .nftCollectionHeadingPart {
    color: #ffffff;
  }
  
  .nftCollectionText {
    margin: 60px 0;
  }
  
  .sliderButton{
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    display: inline-block;
  }
  
  /*nft monster collection css*/
  
  .bigSliderSection{
    align-items: center;
    margin-top: 40px;
  }
  
  .truckContainer{
    text-align: center;
  }
  
  .truckImage{
    max-width: 160px;
    display: inline-block !important;
    margin: auto 0;
  }
  
  .nftCollection_hr {
    border: 1px solid #FF4600;
    height: 2px;
    background-color: #fff;
    color: #fff;
    opacity: 1;
  }
  
  .truckVideo {
    width: 70%;
  }
  
  .slick-prev:before,
  .slick-next:before {
      display: none;
  }

.nftCollectionTextContainer {
    font-family: Square721-BT-Roman !important;
    font-size: 16px;
    margin-top: 60px;
    display: none;
}


@media screen and (max-width: 992px) {
    .truckImage{
        max-width: 80px;
    }

    .sliderButton{
        display: none;
      }

       
  .truckVideo {
    width: 90%;
  }
}

/*gameAssets section css*/
.gameAssetsContainer {
    background-color: #1d1d1d;
}

.gameAssetsRow {
    text-align: center;
}

.gameAssetsSlider {
    margin: 0 0 80px 0;
}

.gameAssetsImg{
    width: 100%;
}

@media screen and (max-width: 992px) {
    .gameAssetsSlider {
        margin: 0 0 30px 0;
    }
}

/*news feed section css*/
.newsFeedContainer {
    background-color: #ff4600;
}

.newsFeedRow {
    padding: 0 0 80px 0;
}

.newsFeedHeading {
    text-align: center;
    color: #fff;
}

.newsFeedHeading:hover {
    color: #1d1d1d;
}

.newsFeedSubHeading {
    color: #fff;
    font-size: 20px;
    line-height: 41px;
    margin: 10px 0 0;
}

.newsFeedSubHeading:hover {
    color: #1d1d1d;
    font-size: 22px;
}

.newsFeedText {
    margin: 10px 0;
    line-height: 25px;
}

.newsFeedLink {
    display: inline-block;
    margin: 10px 0;
}

@media screen and (max-width: 992px) {
    .newsFeedRow {
        padding: 0 0 30px 0;
    }
}


.newsfeedBtnContainer{
    margin: 1em 0;
}

.newsfeedBtn{
    color: #fff;
    background-color: transparent;
    padding: 5px 16px;
    border: 2px solid #fff;
    margin: 0 0 0 0.5em;
    font-size: 2em;
    line-height: 1em;
    transition: color ease 0.2s, border ease 0.4s;
}

.newsfeedBtn:hover{
    color: #1d1d1d;
    border: 2px solid #1d1d1d;

}

.swiper {
    width: 84%;
    height: 20em;
}

.swiper_image {
    font-size: 11px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

@media screen and (max-width: 992px) {
    .newsfeedImg{
        width: 100%;
    }

    .newsfeedImgContainer {
        margin: 30px 0;
    }
    
    .mblNewsfeedBtnContainer{
        display:unset;
    }

    .dsktpNewsfeedBtnContainer{
        display: none;
    }

    .swiper {
        width: 80% !important;
        height: 10em !important;
    }
}


/*tokenomics section css*/
.tokenomicsImg-sm {
    display: none;
}

.tokenomicsImg2{
    width: 100%;
}

@media screen and (max-width: 992px) {
    .tokenomicsRow {
        padding: 30px 0;
        text-align: center;
    }

    .tokenomicsImg-lg {
        display: none;
    }

    .tokenomicsImg-sm {
        display: block;
    }
}

/*mrTeam section css*/
.mrTeamContainer {
    background-color: #1d1d1d;
}

.mrTeamRow {
    padding: 0 0 40px;
    text-align: center;
}

.memberContainer {
    text-align: left;
    align-items: center;
    margin: 0 0 3rem;
}

.moreMemberContainer {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.memberImage {
    width: 100%;
}

.memberDesignation {
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 0.1em;
    color: #ff4600;
}

.memberName {
    letter-spacing: normal;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1;
    margin: 1rem 0 0;
}

.moreMemberNumber {
    display: inline-block;
    color: #ff4600;
    font-size: 66px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    margin: 0 1rem 0 0;
}

.moreMemberText {
    display: inline-block;
    font-size: 20px;
    line-height: 21px;
    font-weight: 500;
}

@media (min-width: 993px) and (max-width: 1200px) {
    .moreMemberNumber {
        font-size: 54px;
        margin: 0 0.5rem 0 0;
    }

    .moreMemberText {
        font-size: 18px;
    }
}

@media screen and (max-width: 992px) {
    .mrTeamRow {
        padding: 30px 0;
    }

    .memberImage {
        margin: 0 0 1rem 0;
    }

    .moreMemberContainer {
        position: unset;
        top: unset;
        transform: unset;
        text-align: center;
    }
}

/*mrTeam section css*/
.technologyContainer {
    background-color: #ff4600;
}

.technologyRow {
    text-align: center;
    padding: 0 0 80px 0;
}

.technologyHeading {
    color: #fff;
}

.technologyHeading:hover {
    color: #1d1d1d;
}

.binanceImage {
    max-width: 250px;
}

.unityImage {
    max-width: 200px;
}

@media screen and (max-width: 992px) {
    .binanceImage {
        max-width: 150px;
    }

    .unityImage {
        max-width: 100px;
    }
}

/*faq section css*/
.faqRow {
    padding: 0 0 40px;
}

.faqHeading {
    text-align: center;
}

.accordion-button {
    color: #fff;
    background-color: #000;
    box-shadow: none;
    font-size: 21px;
}

.accordion-body {
    background-color: #000000;
    font-family: Square721-BT-Roman !important;
    font-size: 16px;
}

.accordion-header {
    font-family: Square721-BT-Roman !important;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

.accordion-button:focus {
    border-color: #000;
    box-shadow: none;
}

.accordion-button::after {
    content: " + ";
    color: #FF4600;
    background-image: none;
    font-weight: 600;
}

.accordion-button:not(.collapsed)::after {
    content: " - ";
    color: #FF4600;
    background-image: none;
    font-weight: 600;
    transform: rotate(360deg);
}

.accordion-item {
    border: 0px;
    background-color: #000000;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #000;
    box-shadow: none;
}

@media screen and (max-width: 992px) {
    .accordion-button {
        font-size: 16px;
    }

    .accordion-body {
        font-size: 14px;
    }

    .accordion-header {
        margin-right: 1em;
    }
}

/*footer section css*/
.footer .footerContainer{
    background-image: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("../assets/images/footer/footerBG.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 0 2rem;
    background-position: center;
    text-align: center;
}

.footerLogo {
    width: 200px;
    margin-bottom: 3rem;
}

.footerSocialImage {
    width: 50px;
}

.footerBtns {
    margin: 40px 0;
}

.marketplaceButton {
    background-color: #ff4600;
    padding: 12px 20px 10px;
    border-radius: 40px;
}

.footerScrollText {
    color: #ff4600;
    font-family: Square721-BT-Roman;
    font-size: 16px;
    padding-top: 1em;
}


@media screen and (max-width: 992px) {
    .footerLogo {
        width: 90px;
        margin-bottom: 1rem;
    }

    .footerBtns {
        margin: 20px 0;
    }

    .marketplaceButton {
        padding: 7px 8px 5px;
    }

    .footerSocialImage {
        width: 30px;
    }

    .footerBtns .footerBtn {
        padding: 0;
    }

    .footerBtns a {
        font-size: 14px;
    }
}

.footerRow4{
    text-align: center;
    font-family: Square721-BT-Roman;
    font-size: 16px;
    margin-top: 1em;
}